[submodule "vendor/meta-qt5"]
	path = vendor/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = sumo
[submodule "vendor/meta-security"]
	path = vendor/meta-security
	url = git://git.yoctoproject.org/meta-security
	branch = sumo
[submodule "vendor/meta-raspberrypi"]
	path = vendor/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = sumo
[submodule "vendor/meta-openembedded"]
	path = vendor/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = sumo
[submodule "vendor/meta-mingw"]
	path = vendor/meta-mingw
	url = git://git.yoctoproject.org/meta-mingw
	branch = sumo
[submodule "vendor/meta-darwin"]
	path = vendor/meta-darwin
	url = git://git.yoctoproject.org/meta-darwin
	branch = sumo
[submodule "tools/psplash"]
	path = tools/psplash
	url = https://git.yoctoproject.org/git/psplash
[submodule "vendor/meta-mender"]
	path = vendor/meta-mender
	url = https://github.com/mendersoftware/meta-mender
	branch = sumo
[submodule "vendor/poky"]
	path = vendor/poky
	url = git://git.yoctoproject.org/poky.git
	branch = sumo

