[Unit]
Description=Terminate Psplash Boot Screen
After=application-loader.service

[Service]
Environment=TMPDIR=/run
Type=oneshot
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/psplash-write QUIT

[Install]
WantedBy=multi-user.target