
# Customisation package << Suggested place to make changes for your project
CUSTOMISE = "muelectronics-10000-actions"

# Select the addon package for the hardware
PACKAGE = "raspberrypi"

# Select the hardware from the manufacturer
MACHINE = "raspberrypi-cm3"

# Hardware configuration
HARDWARE = "rpi-cm3-v1-full"





# Set default user account
INHERIT += "extrausers"
EXTRA_USERS_PARAMS = "usermod -P qutipi root; "




# Configure 'static' or 'dhcp' interface
ETHERNET_TYPE = "static"

# Set static IP
ETHERNET_IP = "130.88.237.210"
ETHERNET_NETMASK = "255.255.255.0"
ETHERNET_BROADCAST = "130.88.237.250"
ETHERNET_GATEWAY = "130.88.237.250"
ETHERNET_NAMESERVERS = "130.88.13.7 8.8.8.8"




# Where to store the temp build files?
#TMPDIR = "${TOPDIR}/tmp"

# Where to store the downloaded files
#DL_DIR ?= "${TOPDIR}/downloads"

# Where to store the shared state cache
#SSTATE_DIR ?= "${TOPDIR}/downloads"





# The selected distribution 
DISTRO ?= "qutipi"



# SDK target architecture
# SDKMACHINE = "i686-mingw32"
# SDKMACHINE = "i386-darwin"



# Addtion image feature 
EXTRA_IMAGE_FEATURES = "debug-tweaks"



# Set the number of parrallel task to run for bitbake
# By default this is the number of cores on your PC
# BB_NUMBER_THREADS = ""

# Set the number of cores to use during "do_compile"
# By default this is the number of cores on your PC
# PARALLEL_MAKE = ""



# Track breaking changes to this file
CONF_VERSION = "1"



# Ensure builds fail if cant apply patch
PATCHRESOLVE = "noop"



# Delete temporary workspace during builds
INHERIT += "rm_work"

