
# Customisation package << Suggested place to make changes for your project
CUSTOMISE = "muelectronics-10000-actions"

# Select the addon package for the hardware
PACKAGE = "raspberrypi"

# Select the hardware from the manufacturer
MACHINE = "raspberrypi-cm3"

# Hardware configuration
HARDWARE = "rpi-cm3-v1-full"





# Set default user account
INHERIT += "extrausers"
EXTRA_USERS_PARAMS = "usermod -P qutipi root; "



# Hide Cursor? 1 for yes, 0 for no
HIDE_CURSOR = "1"

# Setup hdmi or none
DISPLAY_TYPE = "hdmi"

# Setup the  RPI LCD
# DISPLAY_TYPE = "rpi7"
# EGLFS_PWIDTH = "155"
# EGLFS_PHEIGHT = "86"

# Custom LCD screen (for example pitft35r 480x320 touchscreen)
# DISPLAY_TYPE = "custom"
# EGLFS_WIDT = "480"
# EGLFS_HEIGHT = "320"
# EGLFS_PWIDTH = "85"
# EGLFS_PHEIGHT = "50"
# TOUCHSCREEN_ADDRESS = "/dev/input/touchscreen0"
# TOUCHSCREEN_ROTATION = "90"




# Mendor settings
MENDER_ARTIFACT_NAME = "release-1"
INHERIT += "mender-full"
RPI_USE_U_BOOT = "1"
MENDER_PARTITION_ALIGNMENT_KB = "4096"
MENDER_BOOT_PART_SIZE_MB = "40"
IMAGE_INSTALL_append = " kernel-image kernel-devicetree"
IMAGE_FSTYPES_remove += " rpi-sdimg"

# Build for Hosted Mender
#
# MENDER_SERVER_URL = "https://hosted.mender.io"
# MENDER_TENANT_TOKEN = "<YOUR-HOSTED-MENDER-TENANT-TOKEN>"



# Where to store the temp build files?
#TMPDIR = "${TOPDIR}/tmp"

# Where to store the downloaded files
#DL_DIR ?= "${TOPDIR}/downloads"

# Where to store the shared state cache
#SSTATE_DIR ?= "${TOPDIR}/downloads"





# The selected distribution 
DISTRO ?= "qutipi"



# SDK target architecture linux 
SDKMACHINE = "x86_64"

# SDK target architecture windows 
#SDKMACHINE = "x86_64-mingw32"
#OE_QMAKE_PLATFORM_NATIVE_mingw32 = "win32-g++-oe"
#OE_QMAKE_PLATFORM_mingw32 = "win32-g++-oe"
#QT_MODULE_BRANCH_PARAM = "nobranch=1"
#PACKAGE_EXCLUDE_COMPLEMENTARY ?= "qtquickcompiler"



# Addtion image feature 
EXTRA_IMAGE_FEATURES = "debug-tweaks"



# Set the number of parrallel task to run for bitbake
# By default this is the number of cores on your PC
# BB_NUMBER_THREADS = ""

# Set the number of cores to use during "do_compile"
# By default this is the number of cores on your PC
# PARALLEL_MAKE = ""



# Track breaking changes to this file
CONF_VERSION = "1"



# Ensure builds fail if cant apply patch
PATCHRESOLVE = "noop"



# Delete temporary workspace during builds
INHERIT += "rm_work"

